<p id="notice"><%= notice %></p>

<p>
  <strong>Location:</strong>
  <%= @accommodation.location.name %>
</p>

<p>
  <strong>Accommodation category:</strong>
  <%= @accommodation.accommodation_category.name %>
</p>

<p>
  <strong>Name:</strong>
  <%= @accommodation.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @accommodation.price %>
</p>

<p>
  <strong>Telephone:</strong>
  <%= @accommodation.telephone %>
</p>

<p>
  <strong>Fax:</strong>
  <%= @accommodation.fax %>
</p>

<p>
  <strong>Address:</strong>
  <%= @accommodation.address %>
</p>

<p>
  <strong>Email:</strong>
  <%= @accommodation.email %>
</p>

<p>
  <strong>Web address:</strong>
  <%= @accommodation.web_address %>
</p>

<p>
  <strong>Details:</strong>
  <%= @accommodation.details %>
</p>

<p>
  <strong>Description:</strong>
  <%= @accommodation.description %>
</p>

<p>
  <strong>Has beach:</strong>
  <%= @accommodation.has_beach %>
</p>

<p>
  <strong>Has casino:</strong>
  <%= @accommodation.has_casino %>
</p>

<p>
  <strong>Is all inclusive:</strong>
  <%= @accommodation.is_all_inclusive %>
</p>

<p>
  <strong>Is family friendly:</strong>
  <%= @accommodation.is_family_friendly %>
</p>

<p>
  <strong>Show email:</strong>
  <%= @accommodation.show_email %>
</p>

<p>
  <strong>Show web address:</strong>
  <%= @accommodation.show_web_address %>
</p>

<p>
  <strong>Show listings:</strong>
  <%= @accommodation.show_listings %>
</p>

<p>
  <strong>Qualification level:</strong>
  <%= @accommodation.qualification_level %>
</p>

<p>
  <strong>Modified at:</strong>
  <%= @accommodation.time_modified %>
</p>

<p>
  <strong>Num photos:</strong>
  <%= @accommodation.num_photos %>
</p>

<p>
  <strong>Has internet:</strong>
  <%= @accommodation.has_internet %>
</p>

<p>
  <strong>Is near golf course:</strong>
  <%= @accommodation.is_near_golf_course %>
</p>

<p>
  <strong>Has logo:</strong>
  <%= @accommodation.has_logo %>
</p>

<p>
  <strong>Admin contact:</strong>
  <%= @accommodation.admin_contact %>
</p>

<p>
  <strong>Admin email:</strong>
  <%= @accommodation.admin_email %>
</p>

<p>
  <strong>Admin phone:</strong>
  <%= @accommodation.admin_phone %>
</p>

<p>
  <strong>Hotel url:</strong>
  <%= @accommodation.hotel_url %>
</p>

<p>
  <strong>Affiliate url:</strong>
  <%= @accommodation.affiliate_url %>
</p>


<%= link_to 'Edit', edit_accommodation_path(@accommodation),class: 'btn btn-primary' %> |
<%= link_to 'Back', accommodations_path, class: 'btn btn-primary' %>
