<p id="notice"><%= notice %></p>

<p>
  <strong>Country:</strong>
  <%= @destination.country %>
</p>

<p>
  <strong>Name:</strong>
  <%= @destination.name %>
</p>

<p>
  <strong>Destinationid:</strong>
  <%= @destination.destinationId %>
</p>

<%= link_to 'Edit', edit_destination_path(@destination) %> |
<%= link_to 'Back', destinations_path %>
